body {
  background-color: #e7e7e7;
  position: relative;
}

.table-wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 100px auto 0;
  padding: 0 20px;
  overflow-x: auto;
}

.loading {
  position: absolute;
  max-width: 100%;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 20;
}

table {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
}

thead {
  height: 60px;
  text-align: left;
}

th {
  padding: 20px;
  color: #fff;
  background-color: #303a4a;
}

tbody {
  height: 50px;
}

td {
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
}
